button {
  padding: 13px 19px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 6px;
}

input {
  width: 300px;
  padding: 9px 9px;
  border: 1px solid silver;
  border-radius: 5px;
}

div {
  margin: 30px;
}

.user-profile {
  border: 1px solid black;
  width: 40%;
  height: auto;
  text-align: center;
  margin: 80px auto;
  border-radius: 10px;
  border: 1px solid silver;
}

.user-profile h2 {
  color: green;
  font-size: 30px;
  font-weight: bolder;
}
